body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #e6e6e6;
}

header{
    color: white;
    text-align: left;
    font-size: 48px;
    background-color: #3954ad;
    margin-bottom: 15px;
    box-shadow: 0px 5px #193180;
    padding: 10px 10px 10px 350px;
}

img{
    max-width: 250px;
    max-height: 250px;
}

#logo{
    width: 40px;
    height: 35px;
}

#content{
    text-align: center;
}

#start{
    border-radius: 50px;
    padding: 15px 35px 15px 35px;
    transition: background-color 0.25s ease-in-out;
    background-color: #3954ad;
    margin: 0 0 0 10px;
    color: white;
    font-weight: bold;
}

#start:hover{
    cursor: pointer;
    background-color: #193180;
    transition: background-color 0.25s ease-in-out;
}

.row1{
    margin: auto;
    padding: 10px;
    border: 3px solid #3b3b3b;
    border-radius: 10px;
    width: 600px;
    background: #d3d3d3;
}

.origin{
    display: inline;
    margin: 0 20px 0 0;
}

.destination{
    display: inline;
}

.row2{
    margin: 30px 0 0 10px;
}

#destination{
    margin-top: 10px;
    width: 250px;
    height: 250px;
}

#fileLoad{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileLoad + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    text-decoration: underline;
    display: inline-block;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

#fileLoad:focus + label,
#fileLoad + label:hover {
    background-color: #3954ad;
    color: white;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

#fileLoad + label {
	cursor: pointer; /* "hand" cursor */
}

#fileLoad:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

